ul{
    list-style-type: none;
   
}
body{
    overflow-x: hidden;
}
.navbar-list li{
    float: left;
    margin-right:20px;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    
    
  
}
img{
    height:200px;
    width: 200px;
}
#active{
    color:#4F00C1
}
.navbar{
    width: 100%;
    display: inline;
 
}
.navbar-list >li:last-child{
    float :right;
    margin-right: 80px;
    color: #4F00C1;
}

.navbar-list li:nth-child(2):hover{
color:#4F00C1 ;
}
hr{
width: 1579.01px;
border: 1px solid #AFAFAF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.search-page{
    display: block;
}
.search-area{
    display: block;
    /* margin-left:400px ; */
    margin-top: 200px;
}
.zoomImage{
    height:300px ;
    width: 300px;
    margin-left: 10px;
}
.spinner-div{
    margin-left: 45%;
}
.main-area{
    display: flex;
    flex-wrap: wrap;
    margin-left: 300px;
    margin-right: 100px;
}
.text-prompt{
width: 50%;
height: 40px;
margin-left:350px ;
/* margin: auto; */
margin-bottom: 5px;
margin-right: 0px;

background: #FFFFFF;
border: 1px solid #AFAFAF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}
.search-btn{
  width: 70px; 
  height: 42px; 
  margin-right: auto;
  margin-left:5px;
  border: none;
  color: white;
background: #4F00C1;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}
.text-prompt::placeholder{
    font-size: 20px;
}
.search-area p{
    margin-top: 15px;
    margin-left: 618px;
    font-weight:600;
    color: black;
}
.save{
    width: 80px;
    height: 35px;
    border-radius:8px;
    background: white;
    border: none;
    outline: none;
    color: #5714AC; 
    font-size: 20px;
    margin-left: 20%;
    margin-right: 10px;
}
.remove{
    width: 80px;
    height: 35px;
    border-radius:8px;
    background: white;
    border: none;
    outline: none;
    color: #5714AC; 
    font-size: 20px;
  
}
.download{
    height: 35px;
    border-radius:8px;
    background: white;
    border: none;
    outline: none;
    color: #5714AC; 
    font-size: 20px;

}
.save:hover,.download:hover{
    background-color:#5714AC;
    color: white;
}
.close{
    border: none;
    background:white ;
    margin-bottom: 2px;
    font-size: 20px;
    margin-left: 90%;

}
.alert{
    z-index: 1;
    background: #4F00C1;
    height: 100px;
    width: 200px;
}

.alert-container {
    position: fixed;
    z-index: 1;
    top: 4rem;
    left: 45%;
    right: 0;
  }
  
  .alert-inner {
    display: inline-block;
    padding: 8px 16px;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
    -webkit-box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
    -moz-box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
  }
   .saved-images-container{
    margin-top: 50px;
    margin-left: 297px;
    margin-right: 400px;
     /* display: flex;  */
    flex-wrap: wrap;
}  

